/*********************************************************************
This is free and unencumbered software released into the public domain.

Anyone is free to copy, modify, publish, use, compile, sell, or
distribute this software, either in source code form or as a compiled
binary, for any purpose, commercial or non-commercial, and by any
means.

For more information, please refer to <http://unlicense.org/>
*********************************************************************/

/*
WiTeX
https://github.com/AndrewBelt/WiTeX
*/


/* Latin Modern Roman (LaTeX default) font */
@import url('https://fonts.cdnfonts.com/css/latin-modern-roman');

/* Page Layout */

body {
    background-color: white;
    font-size: 14pt;
}

body {
    font-family: 'LMRoman10', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    border: none;
    font-weight: bold;
}

a,
a:visited {
    color: #a00;
}

ul {
    list-style: disc;
}

/* Content Box */

.content {
    max-width: 720px;
    margin: 2em auto;
}

.content>h1:first-child {
    text-align: center;
    display: block;
}

/* Article Body */

.content {
    text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 0 1em;
}

dl dd {
    /* center definitions (most useful for display equations) */
    text-align: center;
}

@media (min-width: 43.75em) {
    .content {
        padding: 0;
    }
}